@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.ts";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xxs: 22rem;
  --breakpoint-xs: 24rem;
  --breakpoint-xsm: 32rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.71 0.18 22.84);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.14 97.78);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.98 0 247.84);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.96 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.93 0.01 264.53);
  --input: oklch(0.93 0.01 264.53);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.62 0.19 259.81);
  --chart-2: oklch(0.55 0.22 262.88);
  --chart-3: oklch(0.49 0.22 264.38);
  --chart-4: oklch(0.42 0.18 265.64);
  --chart-5: oklch(0.38 0.14 265.52);
  --sidebar: oklch(0.98 0 247.84);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.62 0.19 259.81);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.95 0.03 236.82);
  --sidebar-accent-foreground: oklch(0.38 0.14 265.52);
  --sidebar-border: oklch(0.93 0.01 264.53);
  --sidebar-ring: oklch(0.62 0.19 259.81);
}

.dark {
  --background: oklch(0.18 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.27 0 0);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.27 0 0);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.86 0.12 189.36);
  --primary-foreground: oklch(0.18 0 0);
  --secondary: oklch(0.92 0.14 97.78);
  --secondary-foreground: oklch(0.18 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.38 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.37 0 0);
  --input: oklch(0.37 0 0);
  --ring: oklch(1 0 0);
  --chart-1: oklch(0.71 0.14 254.62);
  --chart-2: oklch(0.62 0.19 259.81);
  --chart-3: oklch(0.55 0.22 262.88);
  --chart-4: oklch(0.49 0.22 264.38);
  --chart-5: oklch(0.42 0.18 265.64);
  --sidebar: oklch(0.2 0 0);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: oklch(0.62 0.19 259.81);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.38 0.14 265.52);
  --sidebar-accent-foreground: oklch(0.88 0.06 254.13);
  --sidebar-border: oklch(0.37 0 0);
  --sidebar-ring: oklch(0.62 0.19 259.81);
}

@layer base {
  html,
  body,
  #root {
    height: -webkit-fill-available;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
  }

  .top-bar-active {
    @apply bg-background/75 backdrop-blur-xl border p-2 rounded-2xl;
  }

  .bottom-bar {
    height: calc(64px + env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);
  }
}
